<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/Javascript/jQuery/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="/Bootstrap/css/bootstrap.css">
        <script src="/Bootstrap/js/bootstrap.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <title>Quinielas Online</title>

    </head>
    <body>
      <img src="/images/russia-logo.png" id="logo">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cquiniela">Crear Quiniela</a>
        </li>
      </ul>

      <div id="texto">
        <h1>Quinielas online</h1>
        <p>- Reta a tus amigos y demuestra <br> 
          que eres el mejor prediciendo resultados!</p>
      </div>
      
    </body>
</html>