<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <script src="/Javascript/jQuery/jquery-3.3.1.min.js"></script>
        <title><%= username %></title>
        <script src="/Javascript/popper.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/Bootstrap/css/bootstrap.min.css">
        <script src="/Bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
        <style>
            body{
                background-image: url('<%= background %>');
                background-repeat:no-repeat;
                background-size:cover;
                background-attachment: fixed;
                background-position: right bottom;
            }
        </style>
    </head>
    <body>
        <% include top-bar.ejs %>
        
    </body>
</html>